<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<!--
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
-->
  <welcome-file-list>
    <welcome-file>
      index.jsp
    </welcome-file>
  </welcome-file-list>

        <servlet>
                <servlet-name>HelloServlet</servlet-name>
                <servlet-class>HelloServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>HelloServlet</servlet-name>
 		<url-pattern>/servlet/HelloServlet</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>EmpServlet</servlet-name>
                <servlet-class>EmpServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>EmpServlet</servlet-name>
                <url-pattern>/servlet/EmpServlet</url-pattern>
        </servlet-mapping>

        <servlet>
                <servlet-name>JdbcServlet</servlet-name>
                <servlet-class>JdbcServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>JdbcServlet</servlet-name>
                <url-pattern>/servlet/JdbcServlet</url-pattern>
        </servlet-mapping>
		
		 <servlet>
                <servlet-name>Items</servlet-name>
                <servlet-class>Items</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>Items</servlet-name>
                <url-pattern>/servlet/Items</url-pattern>
        </servlet-mapping>

</web-app>
